<!DOCTYPE html>
<html>
    <head>
        <script src='/static/downloader.js'></script>
        <script src='/static/place.js'></script>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div id='debug'></div>
        <button onclick="controls.zoom++;populate();">+</button>
        <button onclick="controls.zoom--;populate();">-</button>
        <canvas width="500" height="500" id="canvas">
            <p>Your browser does not support the HTML5 canvas tag.</p>
        </canvas>
    </body>
</html>